:root {
  --heading-font-family: "Montserrat", sans-serif;
  --default-font-family: "Nanum Gothic", sans-serif;
  --brand-color: rgb(34, 99, 94);
  --background-color: rgb(225, 245, 245);
  --box-shadow: 0px 4px 10px rgba(34, 99, 94, 0.5);
}

body {
  font-family: var(--default-font-family);
  padding-bottom: 20px;
}

.page-container {
  padding: 60px 0px 10px 0px;
}

.content-container {
  margin: 40px 40px 0px 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: var(--brand-color);
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h2.page-description {
  font-size: 25px;
  margin: 40px 0px;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-weight: medium;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 18px;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0px 20px;
}

a {
  font-weight: medium;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

a:hover {
  color: var(--brand-color);
  transition: all 100ms ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: right;
  background-color: white;
  position: fixed;
  width: 100%;
}

.active-navlink {
  color: var(--brand-color);
}

.nav-background-home {
  background-color: var(--background-color);
}

.button-box {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  font-family: var(--heading-font-family);
  color: white;
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  text-decoration: none;
  width: 120px;
  padding: 20px 25px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: medium;
}

.button:hover {
  color: var(--brand-color);
  background-color: white;
  border: 1px solid var(--brand-color);
}

.button-app-box {
  display: flex;
  justify-content: flex-start;
}

.app-link {
  margin-right: 20px;
}

.logo {
  max-width: 60px;
  padding: 2px;
  margin-left: 10px;
}

.hero {
  padding: 80px 0px;
  text-align: center;
  background-color: var(--background-color);
}

.hero h2 {
  padding-bottom: 10px;
  margin: none;
}

.title {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.hero a {
  box-shadow: var(--box-shadow);
  margin: 10px 20px;
}

.hero-button:hover {
  background-color: var(--background-color);
}

.about-btn {
  padding: 20px 35px;
}

.recent-project {
  margin: 10px 0px;
}

.project-image {
  max-width: 100%;
  border-radius: 4px;
}

.img-profile {
  border-radius: 50%;
}

.contact-links {
  text-decoration: underline;
  color: var(--brand-color);
}

@media (max-width: 992px) {
  .img-profile {
    display: block;
    margin: 0 auto;
  }

  .about-page h1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .h2 {
    font-size: 15px;
  }

  .button-app-box {
    display: flex;
    justify-content: center;
  }

  .app-link {
    margin: 0px 5px;
  }

  .recent-project {
    margin: 10px 0px 20px 0px;
  }

  .app-description {
    text-align: center;
  }

  .recent-project-image {
    display: none;
  }

  .recent-project-description {
    text-align: center;
    font-size: 20px;
    margin: 20px 0px;
  }

  h2.page-description,
  .about-kim {
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    text-align: center;
  }

  .about-page {
    text-align: center;
  }

  .about-page h1 {
    font-size: 50px;
  }
}

.button-project-box {
  width: 100%;
}

.footer-links {
  display: block;
  text-align: center;
  padding-top: 60px;
}

.footer-email {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.icons {
  color: var(--brand-color);
  font-size: 24px;
  padding: 10px 12px;
  background-color: var(--background-color);
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.icons:hover {
  color: white;
  background-color: var(--brand-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 15px;
  }

  .page-container {
    padding-top: 20px;
  }

  .logo {
    max-width: 50px;
    margin-left: 5px;
  }

  li {
    margin: 0px 10px;
  }

  .hero a {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .logo {
    max-width: 35px;
    margin-left: 2px;
  }

  li {
    margin: 0px 6px;
  }

  a {
    font-size: 14px;
  }

  .hero {
    padding: 50px;
  }

  .button {
    width: 100px;
    margin-right: 5px;
  }
}
