:root {
  --heading-font-family: "Montserrat", sans-serif;
  --default-font-family: "Nanum Gothic", sans-serif;
  --brand-color: rgb(0, 55, 70);
  --background-color: #bfe5f0;
  --box-shadow: 0 0.4rem 1rem rgba(0, 55, 70, 0.5);
  --box-shadow-dark: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
  --transistion: all 200ms ease-in-out;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 784px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: var(--default-font-family);
  margin: 0;
  padding-bottom: 2rem;
}

section {
  margin-top: 4rem;
}

.page-container {
  padding: 6rem 0 1rem 0;
}

.content-container {
  margin: 4rem 4rem 0 4rem;
}

/* Navigation bar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 2px;
  background-color: white;
  position: fixed;
  z-index: 20;
}

.nav-background-home {
  background-color: var(--background-color);
}

.logo {
  max-width: 6rem;
  padding: 2px;
  margin-left: 1rem;
}

.menu {
  display: flex;
  align-self: stretch;
  display: flex;
  align-items: stretch;
}

.menu-main {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-self: stretch;
  display: flex;
  align-items: stretch;
}

.menu-main-item {
  transition: var(--transistion);
}

.menu-main-item:last-child {
  margin-right: 2rem;
}

.menu-main-item-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;

  transition: var(--transistion);
}

.menu-main-item-link:hover {
  color: white;
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.active-navlink {
  border: 1px solid var(--brand-color);
}

/* Hero */

.hero-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  padding: 8rem 0;
  text-align: center;
  background-color: var(--background-color);
}

.hero h2 {
  padding-bottom: 1rem;
  margin: none;
}

.title {
  max-width: 60rem;
  display: block;
  margin: 0 auto;
}

.hero a {
  box-shadow: var(--box-shadow);
  margin: 1rem 2rem;
}

.hero-button:hover {
  background-color: var(--background-color);
}

/* Project gallery */

.project-gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2rem;
}

.project {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.project-description {
  max-width: 80%;
}

.project-link {
  flex: 0 0 50%;
  align-self: auto;
  margin-right: auto;
  margin-left: auto;
}

.project-img {
  display: inline-block;
  max-width: 100%;
  border-radius: 4px;
  transition: var(--transistion);
}

.project-img:hover {
  transform: translateY(-1rem);
  box-shadow: var(--box-shadow-dark);
}

.project-title {
  margin: 2rem 0 0.5rem 0;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 1rem;
}

.project-git-link {
  color: var(--brand-color);
}

/* Current Project */

.current-project-link {
  flex: 0 0 70%;
}

/* Featured project */

h2.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.featured-project-img {
  display: block;
  margin: 0 auto;
  max-width: 60%;

  border-radius: 4px;
}

.featured-project-links {
  display: flex;
  justify-content: center;
}

/* About Page */

.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title {
  margin: 0;
}

.about-sub-title {
  margin: 0;
}

.about-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 6rem;
}

.about-description {
  margin: 2rem 0;
}

.about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 90%;
}

.about-img {
  border-radius: 50%;
  max-width: 100%;
}

.about-img-small {
  display: none;
}

.contact-links {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  text-decoration: underline;
  color: var(--brand-color);
}

.button-project-box {
  width: 100%;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  margin: 0 1rem;
}

.footer-email {
  font-size: 1.8rem;
  color: black;
  font-weight: bold;
}

.icon {
  color: var(--brand-color);
  font-size: 2.4rem;
  margin: 1rem;
  padding: 1rem 1rem;
  background-color: var(--background-color);
  border-radius: 50%;
  transition: var(--transistion);
}

.icon:hover {
  color: white;
  background-color: var(--brand-color);
}

@media (max-width: 992px) {
  .about-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-img-large {
    display: none;
  }

  .about-img-small {
    display: block;
    max-width: 25rem;
    margin: 3rem;
  }
}

@media only screen and (max-width: 784px) {
}
@media (max-width: 576px) {
  .project-gallery {
    flex-direction: column;
    margin: 2rem 0;
  }

  .project {
    margin: 2rem 0;
  }

  .about-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .about-img-small {
    max-width: 20rem;
  }
}
@media (max-width: 350px) {
  .about-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .about-img-small {
    max-width: 12rem;
    margin: 1rem;
  }

  .about-small-title {
    text-align: center;
  }
}
