:root {
  --heading-font-family: "Montserrat", sans-serif;
  --default-font-family: "Nanum Gothic", sans-serif;
  --brand-color: rgb(17, 119, 88);
  --secondary-color: #771130;
  --background-color: rgb(191, 255, 234);
  --box-shadow: 0px 4px 10px rgba(17, 119, 88, 0.5);
}

body {
  font-family: var(--default-font-family);
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 8vw;
  font-weight: bold;
}

h2 {
  font-size: 3vw;
}

h2.page-description {
  font-size: 2vw;
  margin: 40px 0px;
  text-align: center;
}

h3 {
  font-size: 6vw;
  font-weight: medium;
}

p {
  font-size: 1.8vw;
  margin: 0vw 0vw 4vw 0vw;
  text-align: left;
}

a {
  font-family: var(--heading-font-family);
  color: white;
  background-color: var(--brand-color);
  text-decoration: none;
  padding: 2vw 5vw;
  border-radius: 4px;
  font-size: 2vw;
  font-weight: medium;
}

.hero {
  padding: 10% 0;
  text-align: center;
  background-color: var(--background-color);
}

.hero h2 {
  padding-bottom: 6%;
}

.hero a {
  box-shadow: var(--box-shadow);
  margin: 0vw 3vw;
}

.button-link:hover {
  color: var(--secondary-color);
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
}

.recent-project {
  margin: 10px 20px;
}

.recent-project-image {
  max-width: 100%;
  padding-top: 20px;
}

.app-link {
  margin: 0vw 1vw 0vw 0vw;
  font-size: 1vw;
}

.app-link:hover {
  background-color: white;
}

@media (max-width: 576px) {
  .app-description {
    text-align: center;
    margin: 20px 20px 20px 20px;
  }

  .recent-project-image {
    display: none;
  }

  .recent-project-description {
    text-align: center;
    font-size: 2vw;
  }

  h2.page-description {
    font-size: 2vw;
    margin: 20px 0px 10px 0px;
    text-align: center;
  }
}
